<audio data-note="70" src="piano/piano-a.wav"></audio>
<audio data-note="71" src="piano/piano-b.wav"></audio>
<audio data-note="72" src="piano/piano-c.wav"></audio>
<audio data-note="74" src="piano/piano-d.wav"></audio>
<audio data-note="65" src="piano/piano-e.wav"></audio>
<audio data-note="83" src="piano/piano-f.wav"></audio>
<audio data-note="68" src="piano/piano-g.wav"></audio>


<script type="text/javascript">

  window.addEventListener('keydown', function(e) {
    const audio = document.querySelector(`audio[data-note="${e.keyCode}"]`)
    audio.currentTime = 0
    if(!audio) return
    audio.play()
  })

</script>
